.left-header{
  background-color:#445c63 ;
    width: 70px;
    /* position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    z-index: 9999; */


}
.icons{
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: #fff;
}