header{
    padding: 15px;
    justify-content: space-between;
}
.logo-section{
    gap: 5px;
    padding: 10px;
    align-items: center;
}
.logo-section img{
    width: 40px;
}
.last-section{
    align-items: center;
    gap: 10px;
   
}
.last-section img{
    width: 35px;
}
.last-section h3{
    color: blue;
}

.message-icon {
    position: relative;
    display: inline-block;
  }
  
  .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }




