header{
    padding: 15px;
    justify-content: space-between;
}
.logo-section{
    gap: 5px;
    padding: 10px;
    align-items: center;
}
.logo-section img{
    width: 40px;
}
.last-section{
    align-items: center;
    gap: 10px;
   
}
.last-section img{
    width: 35px;
}
.last-section h3{
    color: blue;
}




